@using Project_Manager.Models.Enums
@model Project_Manager.ViewModels.CreateReadTaskVM

@{
    ViewData["Title"] = "Редактировать задачу";
}

<h2>Редактировать задачу</h2>

<form class="formCreate" asp-action="Edit" method="post">

    <input asp-for="Task.Id" class="form-control" hidden/>

    <div class="form-group">
        <label asp-for="Task.Title" class="control-label">Название</label>
        <input asp-for="Task.Title" class="form-control" />
        <span asp-validation-for="Task.Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Task.Description" class="control-label">Описание</label>
        <textarea asp-for="Task.Description" class="form-control"></textarea>
        <span asp-validation-for="Task.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Task.Status" class="control-label">Статус</label>
        <select asp-for="Task.Status" class="form-control">
            @foreach (var status in Enum.GetValues(typeof(ProjectTaskStatus)))
            {
                <option value="@status">@status</option>
            }
        </select>
        <span asp-validation-for="Task.Status" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Task.CategoryId" class="control-label">Категория</label>
        <select asp-for="Task.CategoryId" class="form-control">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <span asp-validation-for="Task.CategoryId" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Task.ExecutorId" class="control-label">Исполнитель</label>
        <select asp-for="Task.ExecutorId" class="form-control">
            @foreach (var user in Model.Users)
            {
                <option value="@user.Id">@user.UserName</option>
            }
        </select>
        <span asp-validation-for="Task.ExecutorId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Task.DueDateTime" class="control-label">Дата завершения</label>
        <input asp-for="Task.DueDateTime" class="form-control" type="datetime-local" />
        <span asp-validation-for="Task.DueDateTime" class="text-danger"></span>
    </div>

    <input type="hidden" name="projectId" value="@Model.ProjectId" />

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="@Url.Action("Index", new{ projectId = Model.ProjectId})" class="btn btn-secondary">Назад</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
