@using Project_Manager.Models.Enums
@model Project_Manager.Models.ProjectTask

@{
    ViewData["Title"] = "Редактировать задачу";
}

<h2>Редактировать задачу</h2>

<form class="formCreate" asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Title" class="control-label">Название</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Status" class="control-label">Статус</label>
        <select asp-for="Status" class="form-control">
            @foreach (var status in Enum.GetValues(typeof(ProjectTaskStatus)))
            {
                <option value="@status">@status</option>
            }
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId" class="control-label">Категория</label>
        <select asp-for="CategoryId" class="form-control">
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <input type="hidden" name="projectId" value="@ViewBag.ProjectId" />
    <div class="form-group">
        <label asp-for="ExecutorId" class="control-label">Исполнитель</label>
        <select asp-for="ExecutorId" class="form-control">
            @foreach (var user in ViewBag.Users)
            {
                <option value="@user.Id">@user.UserName</option>
            }
        </select>
        <span asp-validation-for="ExecutorId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DueDateTime" class="control-label">Дата завершения</label>
        <input asp-for="DueDateTime" class="form-control" type="datetime-local" />
        <span asp-validation-for="DueDateTime" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="@Url.Action("Index", new{ projectId = ViewBag.ProjectId})" class="btn btn-secondary">Назад</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
