@using Project_Manager.Models.Enums
@model Project_Manager.ViewModels.ViewTaskVM

@{
    ViewData["Title"] = "Просмотр задачи";
}

<div class="viewTask">
    <h5>@Model.Task.Title</h5>
    <p><strong>Описание:</strong> @Model.Task.Description</p>
    <p><strong>Статус:</strong> @Model.Task.Status</p>
    <p><strong>Категория:</strong> @Model.Task.Category.Name</p>
    <p><strong>Исполнитель:</strong> @Model.Task.ExecutorName</p>
    <p><strong>Дедлайн:</strong> @Model.Task.DueDateTime</p>

    <h6>Комментарии</h6>
    <ul class="list-group1">
        @foreach (var comment in Model.Task.Comments)
        {
            <li class="list-group-item">
                <p>@comment.Content</p>
                <small>Добавлено: @comment.CreatedAt.ToString("g")</small>
            </li>
        }
    </ul>
    @if (Model.Role == UserRoles.Executor)
    {
        <form asp-action="AddComment" asp-route-projectId="@Model.ProjectId" method="post">
            <input type="hidden" name="taskId" value="@Model.Task.Id" />
            <div class="form-group">
                <label for="content">Добавить комментарий</label>
                <textarea name="content" class="form-control" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Добавить комментарий</button>
        </form>
    }
    <a href="@Url.Action("Index", new{ projectId = Model.ProjectId})" class="btn btn-secondary btn-back">Назад</a>
</div>
