@using Project_Manager.DTO.JoinProject
@using Project_Manager.Models.Enums
@model IEnumerable<RespondDTO>

@{
    ViewData["Title"] = "Projects page";
    Dictionary<int, string> userRoles = new Dictionary<int, string>
    {
        { (int)UserRoles.Manager, "Менеджер" },
        { (int)UserRoles.Executor, "Исполнитель" }
    };
}

<p>
    Приём заявок
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            @* <th>
            @Html.DisplayNameFor(model => model.Name)
            </th> *@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count<RespondDTO>() == 0)
        {
            <tr>На данный момент нет заявок на вступление в проект</tr>
        }
        else
        {
            foreach (var respondDTOs in Model)
            {
                <tr>
                    <td>@respondDTOs.UserName</td>
                    <td>@respondDTOs.UserEmail</td>
                    <td>
                        <form asp-action="Accept" method="post">
                            <div class="form-group">
                                <select class="form-control" name="userRole">
                                    @foreach (var role in userRoles)
                                    {
                                        <option value="@role.Key">@role.Value</option>
                                    }
                                </select>
                            </div>
                            <!-- Передаем ID проекта и пользователя через скрытые поля -->
                            <input type="hidden" name="userId" value="@respondDTOs.UserId" />
                            <input type="hidden" name="projectId" value="@respondDTOs.ProjectId" />
                            <button type="submit" class="btn btn-success">Принять</button>
                        </form>
                    </td>
@*                     <td>
                        <a asp-action="Accept" asp-route-userId="@respondDTOs.UserId" asp-route-projectId="@respondDTOs.ProjectId">
                            Принять
                        </a>
                     </td> *@
                    <td><a asp-action="Reject" asp-route-userId="@respondDTOs.UserId">Отклонить</a></td>
                </tr>
            }
        }
    </tbody>
</table>
