@using Project_Manager.DTO.JoinProject
@using Project_Manager.Models.Enums
@using Project_Manager.ViewModels.Dictionaries
@model IEnumerable<RespondDTO>

@{
    ViewData["Title"] = "Заявки";
}

<button class="btn btn-add btn-to-project go-back" onclick="goBack()">◁</button>

@if (Model.Count() == 0)
{
    <h2>На данный момент нет заявок на вступление в проект</h2>
}
else
{
    <div class="project-list">
        <table class="table project-table">
            <thead>
                <tr><th colspan="4">Заявки</th></tr>
            </thead>
            <tbody>
                @foreach (var respondDTOs in Model)
                {
                    <tr class="task-tr">
                        <td>@respondDTOs.UserName</td>
                        <td>@respondDTOs.UserEmail</td>
                        <td>
                            <form asp-action="AcceptApplication" method="post">
                                <div class="form-group">
                                    <select class="form-control" name="userRole">
                                        @foreach (var role in UserRolesDescription.userRoles)
                                        {
                                            <option value="@role.Key">@role.Value</option>
                                        }
                                    </select>
                                </div>

                                <input type="hidden" name="userId" value="@respondDTOs.UserId" />
                                <input type="hidden" name="projectId" value="@respondDTOs.ProjectId" />
                                <button type="submit" class="btn btn-success btn-change-role">Принять</button>
                            </form>
                        </td>
                        <td class="td-btn">
                            <form asp-action="RejectApplication" method="post">
                                <input type="hidden" name="userId" value="@respondDTOs.UserId" />
                                <input type="hidden" name="projectId" value="@respondDTOs.ProjectId" />
                                <button type="submit" class="btn btn-danger">Отклонить</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}