@model Project_Manager.ViewModels.ProjectDetailsVM;

@{
    ViewData["Title"] = "Detail Project page";
}

<div>
    @* <h4>Project "@Model.Name"</h4> *@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
   
    </dl>
</div>

<div>
    @if (Model.UserRoles == Models.Enum.UserRoles.Admin)
    {
        <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit | </a>
        <a asp-action="Delete" asp-route-id="@Model.ProjectId">Delete | </a>
    }
    
    <a asp-action="Index">Back to List</a>
</div>

@if (Model.UserRoles == Models.Enum.UserRoles.Admin)
{
    <a asp-action="DisplayParticipant" asp-route-id="@Model.ProjectId">Участники</a>
    <a asp-controller="JoinProject" asp-action="Respond" asp-route-projectId="@Model.ProjectId">Заявки</a>

    <div class="form-group">
        <label for="invitationLink">Пригласительная ссылка:</label>
        <div class="input-group">
            <input type="text" id="invitationLink" class="form-control" value="@Model.InvitationLink" readonly>
            <button class="btn btn-outline-secondary" type="button" id="copyButton">Копировать</button>
        </div>
    </div>

    <!-- Всплывающее уведомление -->
    <div id="toast" class="toast">Ссылка скопирована</div>
}




<style>
    /* Стили для всплывающего окна */
    .toast {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #28a745;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 14px;
        display: none;
        opacity: 0; /* Прозрачно */
        transition: opacity 0.5s ease-in-out; /* Анимация изменения прозрачности */
        z-index: 1000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .toast.show {
        display: block;
        opacity: 1;
    }
</style>

<script>
    document.getElementById("copyButton").addEventListener("click", function () {
        var linkField = document.getElementById("invitationLink");
        linkField.select();

        // Копируем текст в буфер обмена
        navigator.clipboard.writeText(linkField.value).then(function () {
            showToast(); // Показываем всплывающее сообщение
        }).catch(function () {
            alert("Не удалось скопировать ссылку.");
        });
    });

    function showToast() {
        var toast = document.getElementById("toast");
        toast.classList.add("show");

        // Убираем уведомление через 3 секунды
        setTimeout(function () {
            toast.classList.remove("show");
        }, 3000);
    }
</script>