@using Project_Manager.DTO.Project
@model IEnumerable<ProjectDTO>

@{
    ViewData["Title"] = "Projects page";
}

<p>
    <a asp-action ="Create">Create Project</a>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Name)
            </th> *@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count<ProjectDTO>() == 0)
        {
            <tr>Вы не участвуете ни в одном проекте. Самое время это исправить!</tr>
        } 
        else {
            foreach (var project in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Index", "ProjectTasks", new { projectId = project.Id })">@Html.DisplayFor(modelItem => project.Name)</a>
                    </td>

                    @* <td> *@
                        @* <a asp-action="Edit" asp-route-id="@project.Id">Edit</a> | *@
                        
                        @* <a asp-action="Delete" asp-route-id="@project.Id">Delete</a> *@
                    @* </td> *@
                </tr>
            }
        }        
    </tbody>
</table>
