@using Project_Manager.DTO.Notification
@model IEnumerable<NotificationDTO>

@{
    ViewData["Title"] = "Уведомления";
}

<div class="nav-btn">
    <button class="btn btn-add btn-to-project"
            type="button"
            onclick="markAllNotificationsAsRead()">
        Пометить все прочитанными
    </button>
    <button class="btn btn-add btn-to-project"
            type="button"
            onclick="openModal('confirm-delete-read-notification').showModal()">
        Удалить прочитанные
    </button>
</div>


<button class="btn btn-add btn-to-project go-back" onclick="goBack()">◁</button>

<div class="project-list" id="notification-info">
    @if (Model.Count() == 0)
    {
        <h2 id="no-notifications-message">У вас нет уведомлений</h2>
    }
    else
    {
        <table class="table project-table">
            <tbody id="notification-list">
                @foreach (var notification in Model)
                {
                    @if (notification.State == Models.Enums.NotificationState.Read)
                    {
                        <tr class="task-tr read-notification" id="notification-@notification.Id">
                            <td id="left-td">
                                @notification.Message
                            </td>
                            <td>
                                @notification.SendDate
                            </td>
                            <td id="right-td">
                                <button class="btn btn-danger btn-exclude-participant"
                                        type="button"
                                        onclick="openModalWithParameters(@notification.Id, 'confirm-delete-notification')">
                                    Удалить
                                </button>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="task-tr unreaad-notification" id="notification-@notification.Id">
                            <td>
                                @notification.Message
                            </td>
                            <td>
                                @notification.SendDate
                            </td>
                            <td>
                                <button class="btn btn-danger btn-exclude-participant"
                                        type="button"
                                        onclick="openModalWithParameters(@notification.Id, 'confirm-delete-notification')">
                                    Удалить
                                </button>
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    }
</div>

<div id="confirm-delete-notification" class="modal">
    <div class="modal-content">
        <h4 class="dialog__title" id="dialog-name-del-notif">
            Вы уверены, что хотите удалить это уведомление?<br />
            Отменить действие будет невозможно.
        </h4>
        <form id="delete-exclusion-form">
            <button type="button" class="btn btn-secondary exit btn-danger" id="delete-notification-btn" onclick="deleteNotification(this, 'confirm-delete-notification')">Удалить</button>
            <button type="button" class="btn btn-secondary exit" onclick="closeModal('confirm-delete-notification')">Отмена</button>
        </form>
    </div>
</div>

<div id="confirm-delete-read-notification" class="modal">
    <div class="modal-content">
        <h4 class="dialog__title" id="dialog-name-del-read-notif">
            Вы уверены, что хотите удалить прочитанные уведомления?<br />
            Отменить действие будет невозможно.
        </h4>
        <form id="delete-read-exclusion-form">
            <button type="button" class="btn  btn-secondary exit btn-danger" id="delete-read-notification-btn" onclick="deleteReadNotifications()">Удалить</button>
            <button type="button" class="btn btn-secondary exit" onclick="closeModal('confirm-delete-read-notification')">Отмена</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/notification-index.js"></script>
}

<style>
    #left-td {
        border-radius: 10px 0 0 10px;
    }

    #right-td {
        border-radius: 0 10px 10px 0;
    }

    .read-notification {
        background-color: rgba(235, 235, 235);
        border-radius: 10px;
        overflow: hidden;
    }

    .read-notification td {
        overflow: hidden;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        width: 500px;
        text-align: center;
    }
</style>