@model Project_Manager.ViewModels.TeamDetailsVM;

@{
    ViewData["Title"] = "Detail Team page";
}

<div>
    @* <h4>Team "@Model.Name"</h4> *@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
   
    </dl>
</div>

<div>
    @if (Model.UserRoles == Models.UserRoles.Admin)
    {
        <a asp-action="Edit" asp-route-id="@Model.Team.Id">Edit | </a>
        <a asp-action="Delete" asp-route-id="@Model.Team.Id">Delete | </a>
    }
    
    <a asp-action="Index">Back to List</a>
</div>
