@using Project_Manager.DTO.Team
@model IEnumerable<TeamDTO>

@{
    ViewData["Title"] = "Teams page";
}

<p>
    <a asp-action ="Create">Create Team</a>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Name)
            </th> *@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count<TeamDTO>() == 0)
        {
            <tr>Вы не состоите ни в одной команде. Самое время это исправить!</tr>
        } 
        else {
            foreach (var team in Model)
            {
                <tr>
                    <td>
						<a asp-action="Details" asp-route-teamId="@team.Id">@Html.DisplayFor(modelItem => team.Name)</a>
                    </td>

                    @* <td> *@
                        @* <a asp-action="Edit" asp-route-id="@team.Id">Edit</a> | *@
                        
                        @* <a asp-action="Delete" asp-route-id="@team.Id">Delete</a> *@
                    @* </td> *@
                </tr>
            }
        }        
    </tbody>
</table>
